* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --color-primary: #5c6ac4;
  --color-white: #fff;
  --color-secondary: #6264ba;
  --color-red: #ff7a7a;
  --color-red-darker: #e05f61;
  --color-light-blue: #ddefff; }

html {
  box-sizing: border-box;
  font-size: 87.5%;
  line-height: 1.2rem;
  line-height: 1rem; }

body {
  font-family: Helvetica;
  letter-spacing: 0em; }
  @media only screen and (max-width: 450px) {
    body {
      font-size: 13px; } }

.logo {
  width: 150px;
  height: auto;
  margin-right: 1rem; }
  @media only screen and (max-width: 450px) {
    .logo {
      max-width: 35vw; } }

@media (max-width: 992px) {
  .mobileMenu {
    background: #041227;
    width: 75vw;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    z-index: 10000;
    transition: all ease 0.25s; }
    .mobileMenu.onRight {
      left: auto;
      right: 0;
      transform: translateX(100%); }
    .mobileMenu.open {
      transform: translateX(0%); }
    .mobileMenu .navbar-nav {
      overflow-y: auto; }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; }
    .overlay.open {
      display: block;
      z-index: 1029; } }

.btn-pd {
  padding: 0.5rem 1.5rem; }

.btn-custom-4 {
  font-family: Lato; }
  @media only screen and (max-width: 450px) {
    .btn-custom-4 {
      padding: 0.5rem 1rem; } }

.btn-custom {
  background-color: var(--color-primary);
  padding: 0.5rem 1.5rem;
  font-family: Lato; }
  .btn-custom:hover {
    background-color: var(--color-white);
    color: var(--color-primary); }
  @media only screen and (max-width: 450px) {
    .btn-custom {
      width: 100%;
      display: block;
      padding: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; } }

.btn-custom-3 {
  padding: 0.5rem 1.5rem;
  align-self: center; }
  @media only screen and (max-width: 450px) {
    .btn-custom-3 {
      padding: 0.4rem 1.2rem;
      width: 100%; } }

.btn-custom-2 {
  padding: 0.5rem 1.5rem;
  color: var(--color-secondary);
  outline-color: var(--color-secondary);
  font-family: Lato; }
  .btn-custom-2:hover {
    background-color: var(--color-primary);
    color: var(--color-white); }
  @media only screen and (max-width: 450px) {
    .btn-custom-2 {
      width: 100%;
      display: block;
      padding: 0.5rem;
      margin-top: 0.5rem; } }

.btn-black {
  height: 3rem;
  padding: 10px;
  border: 1px solid #333333;
  outline-width: 0;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  color: white;
  background-color: #333333; }

.btn-red {
  height: 3rem;
  padding: 10px;
  border: 1px solid var(--color-red);
  outline-width: 0;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  color: white;
  background-color: var(--color-red); }

.box {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 35px;
  height: 3rem; }
  .box > img {
    border-radius: 50%;
    border: 1px solid black;
    padding: 4px;
    width: 3rem;
    height: 3rem; }
  .box > p {
    margin-left: 10px;
    line-height: 15px;
    margin-bottom: 0;
    flex: 1; }

.member-hover {
  cursor: pointer; }
  .member-hover:hover {
    background-color: var(--color-primary); }
    .member-hover:hover * h1,
    .member-hover:hover * p {
      color: var(--color-white); }

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.head-md-2 {
  font-family: Helvetica;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left; }

.head-lg {
  font-family: Lato;
  font-size: 40px;
  line-height: 36px; }
  @media only screen and (max-width: 450px) {
    .head-lg {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left; } }

.head-xl {
  font-family: Helvetica;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center; }
  @media only screen and (max-width: 450px) {
    .head-xl {
      font-size: 30px;
      line-height: 37px;
      letter-spacing: 0em;
      text-align: center; } }

.head-1 {
  font-family: Lato;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left; }
  @media only screen and (max-width: 450px) {
    .head-1 {
      font-size: 30px;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: center; } }

.head-2 {
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #6264ba; }
  @media only screen and (max-width: 450px) {
    .head-2 {
      font-family: Lato;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center; } }

.head-3 {
  font-family: Lato;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left; }
  @media only screen and (max-width: 450px) {
    .head-3 {
      font-family: Lato;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center; } }

.head-4 {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left; }

.head-5 {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left; }

.head-6 {
  font-family: Lato;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left; }

.head-7 {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left; }

.head-sub {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left; }

.head-sm {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  color: #999999;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase; }

.para {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left; }

.head-footer {
  font-family: Helvetica;
  font-size: 24px;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center; }
  @media only screen and (max-width: 450px) {
    .head-footer {
      font-family: Helvetica;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      font-weight: 200; } }

.para-2 {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left; }

.para-sm {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  color: #999999; }

.greyscale {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.color-red {
  color: var(--color-red); }
  .color-red:hover {
    color: var(--color-red-darker); }

.color-black {
  color: black; }

.color-primary {
  color: var(--color-primary); }

.color-light-blue {
  color: var(--color-light-blue); }

.color-white {
  color: #fff; }

.color-dark-white {
  color: rgba(255, 255, 255, 0.65); }

.color-yellow {
  color: #fad236; }

.color-grey {
  color: #999; }

#svg-footer {
  fill: white; }

.bg-cream {
  background-color: #fff1e0; }

.bg-cream-2 {
  background: #fff4e6; }

.bg-black {
  background-color: #404040; }

.bg-blue {
  background-color: var(--color-light-blue); }

.bg-light-blue {
  background: #ecf3ff; }

.bg-light-pink {
  background: #fff4fd; }

.bg-darkpink {
  background: #ff7a7a; }

.bg-dark-blue {
  background-color: #2b377a; }

.bg-yellow {
  background: #ffad4e; }

.bg-grey {
  background: #f5f5f5; }

.bg-white {
  background: white; }

.hover-color:hover {
  color: #fad236;
  text-decoration: none; }

.shadow-blue {
  box-shadow: 10px -10px 1px #e8f0fd; }

.border-blue {
  border: 2px solid #e8f0fd;
  z-index: 10; }

.border-color-blue {
  border-color: #e8f0fd;
  border-width: 2px;
  border-bottom: 0; }
  @media only screen and (max-width: 450px) {
    .border-color-blue {
      border-right: 0;
      border-bottom: 2px solid #e8f0fd; } }

.dashed {
  border-style: dashed; }

.a-reset {
  text-decoration: none;
  color: inherit; }
  .a-reset:hover, .a-reset:before, .a-reset:after {
    color: inherit; }

.flatic::before {
  font-size: 2rem;
  width: 200px; }

@media only screen and (max-width: 450px) {
  .card {
    padding-left: 10px;
    padding-right: 10px; } }

@media only screen and (max-width: 450px) {
  [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px; } }

.container {
  min-width: 80vw; }

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; }

.padding-y {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem; }

.scrollable {
  flex-wrap: nowrap;
  overflow: auto; }

.cursor {
  cursor: pointer; }

.icon {
  vertical-align: middle;
  font-size: 1.4rem; }

.icon-3 {
  font-size: 1rem; }

.grid {
  display: grid;
  grid-auto-rows: 1fr; }
  @media only screen and (max-width: 450px) {
    .grid {
      display: block;
      grid-auto-rows: 1fr; } }

.grid-2 {
  display: grid;
  grid-row: 1fr; }
  @media only screen and (max-width: 450px) {
    .grid-2 {
      display: inline-block;
      grid-row: 1fr; } }

.width-65 {
  width: 65%; }

.width-15 {
  width: 13%; }
  @media only screen and (max-width: 450px) {
    .width-15 {
      width: 40%; } }

.line-ht {
  line-height: 32px; }
