* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --color-primary: #5c6ac4;
  --color-white: #fff;
  --color-secondary: #6264ba;
  --color-red: #ff7a7a;
  --color-red-darker: #e05f61;
  --color-light-blue: #ddefff; }

html {
  box-sizing: border-box;
  font-size: 87.5%;
  line-height: 1.2rem;
  line-height: 1rem; }

body {
  font-family: Helvetica;
  letter-spacing: 0em; }
  @media only screen and (max-width: 450px) {
    body {
      font-size: 13px; } }

.logo {
  width: 150px;
  height: auto;
  margin-right: 1rem; }
  @media only screen and (max-width: 450px) {
    .logo {
      max-width: 35vw; } }

@media (max-width: 992px) {
  .mobileMenu {
    background: #041227;
    width: 75vw;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    z-index: 10000;
    transition: all ease 0.25s; }
    .mobileMenu.onRight {
      left: auto;
      right: 0;
      transform: translateX(100%); }
    .mobileMenu.open {
      transform: translateX(0%); }
    .mobileMenu .navbar-nav {
      overflow-y: auto; }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; }
    .overlay.open {
      display: block;
      z-index: 1029; } }

.btn-pd {
  padding: 0.5rem 1.5rem; }

.btn-custom-4 {
  font-family: Lato; }
  @media only screen and (max-width: 450px) {
    .btn-custom-4 {
      padding: 0.5rem 1rem; } }

.btn-custom {
  background-color: var(--color-primary);
  padding: 0.5rem 1.5rem;
  font-family: Lato; }
  .btn-custom:hover {
    background-color: var(--color-white);
    color: var(--color-primary); }
  @media only screen and (max-width: 450px) {
    .btn-custom {
      width: 100%;
      display: block;
      padding: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; } }

.btn-custom-3 {
  padding: 0.5rem 1.5rem;
  align-self: center; }
  @media only screen and (max-width: 450px) {
    .btn-custom-3 {
      padding: 0.4rem 1.2rem;
      width: 100%; } }

.btn-filter {
  border-radius: 1px;
  outline: none;
  background-color: #565565;
  padding-top: 5px;
  height: 42px; }
  .btn-filter:hover, .btn-filter:focus, .btn-filter:visited {
    box-shadow: none; }

.btn-custom-2 {
  padding: 0.5rem 1.5rem;
  color: var(--color-secondary);
  outline-color: var(--color-secondary);
  font-family: Lato; }
  .btn-custom-2:hover {
    background-color: var(--color-primary);
    color: var(--color-white); }
  @media only screen and (max-width: 450px) {
    .btn-custom-2 {
      width: 100%;
      display: block;
      padding: 0.5rem;
      margin-top: 0.5rem; } }

.btn-black {
  height: 3rem;
  padding: 10px;
  border: 1px solid #333333;
  outline-width: 0;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  color: white;
  background-color: #333333; }

.btn-red {
  height: 3rem;
  padding: 10px;
  border: 1px solid var(--color-red);
  outline-width: 0;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  color: white;
  background-color: var(--color-red); }

.btn-blue {
  border-radius: 4px; }
  .btn-blue:hover, .btn-blue:focus {
    color: white;
    background-color: #609fff; }

.btn-blue-2 {
  background-color: #609fff;
  border-radius: 3px;
  border-color: #609fff; }
  .btn-blue-2:hover, .btn-blue-2:focus {
    color: white;
    border-color: #609fff; }

.btn-blue-3 {
  background-color: #609fff;
  border-radius: 0; }
  .btn-blue-3:hover, .btn-blue-3:focus {
    color: white;
    background-color: #609fff; }

.btn-pink-2 {
  background-color: #ff808b;
  border-color: #ff808b; }
  .btn-pink-2:hover {
    color: white;
    background-color: #ff5a68;
    border-color: #ff4d5c; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 28px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

input.success:checked + .slider {
  background-color: #40d08b; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.box {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 35px;
  height: 3rem; }
  .box > img {
    border-radius: 50%;
    border: 1px solid black;
    padding: 4px;
    width: 3rem;
    height: 3rem; }
  .box > p {
    margin-left: 10px;
    line-height: 15px;
    margin-bottom: 0;
    flex: 1; }

.member-hover {
  cursor: pointer; }
  .member-hover:hover {
    background-color: var(--color-primary); }
    .member-hover:hover * h1,
    .member-hover:hover * p {
      color: var(--color-white); }

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.verify-box {
  border-radius: 0;
  font-size: 42px;
  color: var(--color-primary); }
  .verify-box:focus {
    border-color: inherit;
    box-shadow: none;
    color: var(--color-primary); }
  @media only screen and (max-width: 450px) {
    .verify-box {
      font-size: 16px; } }

input[type='radio'].radio {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

input[type='radio'].radio + label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: '\f058';
  letter-spacing: 10px;
  font-size: 1.2em;
  color: #dbdbdb; }

input[type='radio'].radio:checked + label:before {
  content: '\f058';
  font-size: 1.2em;
  color: var(--color-primary);
  letter-spacing: 5px;
  width: 35px;
  font-weight: bold; }

.custom-radiobtn {
  width: 18px;
  height: 18px;
  align-items: center; }

.tick-icon {
  border: 1px solid #609fff;
  border-radius: 100%;
  font-size: 14px; }

.addicon {
  color: #39dbff;
  font-size: 25px; }

.deleteicon {
  color: #ff7a7a;
  font-size: 25px; }

input[type='checkbox'] {
  width: 17px;
  /*Desired width*/
  height: 17px;
  /*Desired height*/
  cursor: pointer; }

.custom-formcheck input:checked + label i.checkbox-icon:before {
  background-color: #565565; }

#upload {
  opacity: 0; }

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%); }

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative; }

.image-area::before {
  content: 'Uploaded image result';
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1; }

.image-area img {
  z-index: 2;
  position: relative; }

.header_account_icon {
  width: 40px;
  height: 40px;
  margin-top: -8px;
  margin-right: 10px;
  margin-left: -10px; }

.custom-banner {
  background-color: #f7e5e9;
  padding: 16px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 4px; }

.connections-card-wrapper img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover; }

.date-info {
  display: flex;
  align-items: center; }

.card-event {
  height: 220px; }
  .card-event .details {
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    bottom: -26px;
    border-radius: 3px;
    width: 100%;
    left: 0;
    right: 0;
    visibility: hidden;
    transition: all 0.3s linear; }
  .card-event .content {
    transition: all 0.3s linear; }
  .card-event:hover .details {
    visibility: visible;
    background: #609fff;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    transform: translateY(-1.7rem); }
  .card-event:hover .content {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    transform: translateY(-0.5rem); }

.custom-banner-2 {
  background: linear-gradient(314.99deg, #7674ff -31.65%, #54a9f3 118.79%); }

.profile-card {
  height: 200px;
  width: 100%; }

.custom-input-box {
  border-radius: 0; }
  .custom-input-box:hover {
    box-shadow: none; }
  .custom-input-box:focus {
    box-shadow: none;
    border-width: 2px;
    border-color: #80bdff; }

.head-md-2 {
  font-family: Helvetica;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left; }

.head-md-1 {
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left; }

.head-lg {
  font-family: Lato;
  font-size: 40px;
  line-height: 36px; }
  @media only screen and (max-width: 450px) {
    .head-lg {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left; } }

.head-xl {
  font-family: Helvetica;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center; }
  @media only screen and (max-width: 450px) {
    .head-xl {
      font-size: 30px;
      line-height: 37px;
      letter-spacing: 0em;
      text-align: center; } }

.head-1 {
  font-family: Lato;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left; }
  @media only screen and (max-width: 450px) {
    .head-1 {
      font-size: 30px;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: center; } }

.head-2 {
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #6264ba; }
  @media only screen and (max-width: 450px) {
    .head-2 {
      font-family: Lato;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center; } }

.head-3 {
  font-family: Lato;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left; }
  @media only screen and (max-width: 450px) {
    .head-3 {
      font-family: Lato;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center; } }

.head-4 {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left; }

.head-5 {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left; }

.head-6 {
  font-family: Lato;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left; }

.head-7 {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left; }

.head-8 {
  font-size: 35px;
  line-height: 24px;
  letter-spacing: -0.11em;
  margin-bottom: 0; }

.head-sub {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left; }

.head-sm {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  color: #999999;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase; }

.para {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left; }

.head-footer {
  font-family: Helvetica;
  font-size: 24px;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center; }
  @media only screen and (max-width: 450px) {
    .head-footer {
      font-family: Helvetica;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      font-weight: 200; } }

.para-2 {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left; }

.para-sm {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  color: #999999; }

.para-sm-1 {
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left; }

.para-xs {
  font-size: 10px;
  line-height: 12px;
  font-family: Lato;
  font-weight: 300;
  text-align: left; }

.special-head {
  font-size: 13px;
  margin: 0px 0px 0px 1rem; }

::placeholder {
  color: lightgrey !important;
  font-weight: 100 !important;
  font-size: 14px !important; }

.greyscale {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.color-red {
  color: var(--color-red); }
  .color-red:hover {
    color: var(--color-red-darker); }

.color-black {
  color: black; }

.color-primary {
  color: var(--color-primary); }

.color-light-blue {
  color: var(--color-light-blue); }

.color-white {
  color: #fff; }

.color-dark-white {
  color: rgba(255, 255, 255, 0.65); }

.color-yellow {
  color: #fad236; }

.color-grey {
  color: #999; }

.color-blue {
  background: #609fff; }

.color-grey2 {
  color: #b4b3b3; }

.color-greydark,
.bg-greydark {
  background-color: #4f4e4e; }

.color-light-white {
  color: #959595; }

#svg-footer {
  fill: white; }

.bg-light-grey {
  background-color: #f4f6f8; }

.bg-cream {
  background-color: #fff1e0; }

.bg-cream-2 {
  background: #fff4e6; }

.bg-black {
  background-color: #404040; }

.bg-blue {
  background-color: var(--color-light-blue); }

.bg-light-blue {
  background: #ecf3ff; }

.bg-light-blue-2 {
  background-color: #e1f6ff; }

.bg-light-pink {
  background: #fff4fd; }

.bg-darkpink {
  background: #ff7a7a; }

.bg-dark-blue,
.bg-primary {
  background-color: #2b377a; }

.bg-yellow {
  background: #ffad4e; }

.bg-grey {
  background: #f5f5f5; }

.bg-grey-2 {
  background-color: grey; }

.bg-white {
  background: white; }

.bg-pink {
  background-color: #f7e5e9; }

.hover-color:hover {
  color: #fad236;
  text-decoration: none; }

.shadow-blue {
  box-shadow: 10px -10px 1px #e8f0fd; }

.border-blue {
  border: 2px solid #e8f0fd;
  z-index: 10; }

.border-color-blue {
  border-color: #e8f0fd;
  border-width: 2px;
  border-bottom: 0; }
  @media only screen and (max-width: 450px) {
    .border-color-blue {
      border-right: 0;
      border-bottom: 2px solid #e8f0fd; } }

.border-grey {
  border-color: #dbdbdb; }

.border-white {
  border-color: white; }

.border-left-yellow {
  border-left: 7px solid #ffbf60;
  position: absolute;
  width: 6px;
  height: 40px;
  left: -1px;
  top: 18px;
  z-index: 10000; }

.dashed {
  border-style: dashed;
  border-width: 1px;
  border-color: #b4b3b3;
  border-radius: 5px; }

.a-reset {
  text-decoration: none;
  color: inherit; }
  .a-reset:hover, .a-reset:before, .a-reset:after {
    color: inherit; }

.line_layover:after {
  content: '';
  display: block;
  border-bottom: 1px solid grey;
  border-style: dashed;
  border-top: none;
  border-left: none;
  border-right: none; }

.flatic::before {
  font-size: 2rem;
  width: 200px; }

.no-underline {
  text-decoration: none; }
  .no-underline:hover {
    text-decoration: none; }

.hover-black:hover {
  color: black; }

.fig-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  height: 250px;
  background-color: #201826;
  background-image: url("https://staging.startuptn.in/media/images/thumb_9efatd3mnrfwl5e_adaptiveResize_1600_518.png"); }

.gradient {
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), color-stop(53.27%, transparent));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), transparent 53.27%);
  padding: 8px 16px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }

.border-rad-0 {
  border-radius: 0; }

@media only screen and (max-width: 450px) {
  .card {
    padding-left: 10px;
    padding-right: 10px; } }

@media only screen and (max-width: 450px) {
  [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px; } }

.container-sm {
  min-width: 80vw; }

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; }

.padding-y {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem; }

.scrollable {
  flex-wrap: nowrap;
  overflow: auto; }

.cursor {
  cursor: pointer; }

.icon {
  vertical-align: middle;
  font-size: 1.4rem; }

.icon-lg {
  font-size: 1.8rem;
  vertical-align: middle; }

.icon-3 {
  font-size: 1rem; }

.grid {
  display: grid;
  grid-auto-rows: 1fr; }
  @media only screen and (max-width: 450px) {
    .grid {
      display: block;
      grid-auto-rows: 1fr; } }

.grid-2 {
  display: grid;
  grid-row: 1fr; }
  @media only screen and (max-width: 450px) {
    .grid-2 {
      display: inline-block;
      grid-row: 1fr; } }

.width-65 {
  width: 63%; }

.width-40 {
  width: 40%; }

.width-15 {
  width: 13%; }
  @media only screen and (max-width: 450px) {
    .width-15 {
      width: 40%; } }

.line-ht {
  line-height: 32px; }

.line-ht-bg {
  line-height: 40px; }

.fullsc {
  height: 100vh; }
  @media only screen and (max-width: 450px) {
    .fullsc {
      height: auto; } }

.pt15 {
  padding-top: 15vh; }

@media only screen and (max-width: 450px) {
  .ptsm-5 {
    padding-top: 5vh; } }

.pad-y-6 {
  padding-top: 6rem;
  padding-bottom: 6rem; }
  @media only screen and (max-width: 450px) {
    .pad-y-6 {
      padding-top: 2rem;
      padding-bottom: 2rem; } }

.mar-top-7 {
  margin-top: 7rem; }
  @media only screen and (max-width: 450px) {
    .mar-top-7 {
      margin-top: 3rem; } }

.pb15 {
  padding-bottom: 15vh; }

.width75 {
  max-width: 75%; }

.letter-sp {
  letter-spacing: 2.5rem; }
  @media only screen and (max-width: 450px) {
    .letter-sp {
      letter-spacing: 0.8rem; } }

.overflow-hidden {
  overflow: hidden; }

.reset-btn {
  border: none;
  background-color: transparent; }
