* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-primary: #5c6ac4;
  --color-white: #fff;
  --color-secondary: #6264ba;
  --color-red: #ff7a7a;
  --color-red-darker: #e05f61;
  --color-light-blue: #ddefff;
}

html {
  box-sizing: border-box;
  font-size: 87.5%;
  line-height: 1.2rem;
  line-height: 1rem;
}

body {
  font-family: Helvetica;
  letter-spacing: 0em;
}
