// buttons

.btn-custom {
  background-color: var(--color-primary);
  padding: 0.5rem 1.5rem;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}

.btn-custom-2 {
  padding: 0.5rem 1.5rem;
  color: var(--color-secondary);
  outline-color: var(--color-secondary);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}
