.card {
  @media only screen and (max-width: 450px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

[class*='col-'] {
  @media only screen and (max-width: 450px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

hr {
  margin: 0;
}

.container {
  min-width: 85vw;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.hr-dotted {
  border-top: 2px dotted grey;
}

.default-hr {
  margin: auto;
  display: block;
}

.position {
  margin-top: 110px;
  margin-left: 115px;
  z-index: 2000;
  position: relative;

  @media only screen and (max-width: 450px) {
    margin: 0;
    min-width: 90wv;
  }
}

.padding-y {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.scrollable {
  flex-wrap: nowrap;
  overflow: auto;
}

.cursor {
  cursor: pointer;
}

.icon {
  vertical-align: middle;
  font-size: 1.4rem;
}
