.card {
  @media only screen and (max-width: 450px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

[class*='col-'] {
  @media only screen and (max-width: 450px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container {
  min-width: 80vw;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.padding-y {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.scrollable {
  flex-wrap: nowrap;
  overflow: auto;
}

.cursor {
  cursor: pointer;
}

.icon {
  vertical-align: middle;
  font-size: 1.4rem;
}

.icon-3 {
  font-size: 1rem;
}

.grid {
  display: grid;
  grid-auto-rows: 1fr;
  @media only screen and (max-width: 450px) {
    display: block;
    grid-auto-rows: 1fr;
  }
}

.grid-2 {
  display: grid;
  grid-row: 1fr;

  @media only screen and (max-width: 450px) {
    display: inline-block;
    grid-row: 1fr;
  }
}

.width-65 {
  width: 65%;
}

.width-40 {
  width: 40%;
}

.width-15 {
  width: 13%;

  @media only screen and (max-width: 450px) {
    width: 40%;
  }
}

.line-ht {
  line-height: 32px;
}

.line-ht-bg {
  line-height: 40px;
}
