// About
.head-xl {
  font-family: Helvetica;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;

  @media only screen and (max-width: 450px) {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.head-lg {
  font-family: Helvetica;
  font-size: 30px;
  line-height: 36px;
}

.head-md {
  font-family: Helvetica;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.para-2 {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

  @media only screen and (max-width: 450px) {
    font-size: 13px;
    line-height: 20px;
  }
}

.para-sm {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  color: #999999;
}

// Home
.head-1 {
  font-family: Helvetica;
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;

  @media only screen and (max-width: 450px) {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.head-2 {
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #6264ba;

  @media only screen and (max-width: 450px) {
    font-family: Helvetica;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.head-3 {
  font-family: Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;

  @media only screen and (max-width: 450px) {
    font-family: Helvetica;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.head-4 {
  font-family: Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;

  @media only screen and (max-width: 450px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.head-5 {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

  @media only screen and (max-width: 450px) {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
  }
}

.head-6 {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

  @media only screen and (max-width: 450px) {
    font-size: 16px;
    line-height: 18px;
  }
}

.head-7 {
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

  @media only screen and (max-width: 450px) {
    font-size: 16px;
    line-height: 16px;
  }
}

.head-sm {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  color: #999999;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
}

.para {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;

  @media only screen and (max-width: 450px) {
    font-size: 12px;
    line-height: 18px;
  }
}

.head-footer {
  font-family: Helvetica;
  font-size: 24px;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;

  @media only screen and (max-width: 450px) {
    font-family: Helvetica;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 200;
  }
}
