// Colours
.greyscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.color-red {
  color: var(--color-red);

  &:hover {
    color: var(--color-red-darker);
  }
}

.color-black {
  color: black;
}

.color-primary {
  color: var(--color-primary);
}

.color-light-blue {
  color: var(--color-light-blue);
}

.color-white {
  color: #fff;
}

.color-dark-white {
  color: rgba(255, 255, 255, 0.65);
}

.color-yellow {
  color: #fad236;
}

.color-grey {
  color: #999;
}

#svg-footer {
  fill: white;
}
// bgs
.bg-cream {
  background-color: #fff1e0;
}

.bg-cream-2 {
  background: #fff4e6;
}

.bg-black {
  background-color: #404040;
}

.bg-blue {
  background-color: var(--color-light-blue);
}

.bg-light-blue {
  background: #ecf3ff;
}

.bg-light-pink {
  background: #fff4fd;
}

.bg-darkpink {
  background: #ff7a7a;
}

.bg-dark-blue {
  background-color: #2b377a;
}

.bg-yellow {
  background: #ffad4e;
}

.bg-grey {
  background: #f5f5f5;
}

.bg-white {
  background: white;
}

.hover-color {
  &:hover {
    color: #fad236;
    text-decoration: none;
  }
}

// Shadow
.shadow-blue {
  box-shadow: 10px -10px 1px rgba(#e8f0fd, 1);
}

// border
.border-blue {
  border: 2px solid #e8f0fd;
  z-index: 10;
}

.border-color-blue {
  border-color: #e8f0fd;
  border-width: 2px;
  border-bottom: 0;
  @media only screen and (max-width: 450px) {
    border-right: 0;
    border-bottom: 2px solid #e8f0fd;
  }
}

.dashed {
  border-style: dashed;
}

// misc
.a-reset {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:before,
  &:after {
    color: inherit;
  }
}

.flatic::before {
  font-size: 2rem;
  width: 200px;
}
