// Colours
.greyscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.color-red {
  color: var(--color-red);

  &:hover {
    color: var(--color-red-darker);
  }
}

.color-black {
  color: black;
}

.color-primary {
  color: var(--color-primary);
}

.color-light-blue {
  color: var(--color-light-blue);
}

.color-white {
  color: #fff;
}
// bgs
.bg-cream {
  background-color: #fff1e0;
}

.bg-black {
  background-color: black;
}

.bg-blue {
  background-color: var(--color-light-blue);
}

.bg-dark-blue {
  background-color: #2b377a;
}
