// Colours
.greyscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.color-red {
  color: var(--color-red);

  &:hover {
    color: var(--color-red-darker);
  }
}

.color-black {
  color: black;
}

.color-primary {
  color: var(--color-primary);
}

.color-light-blue {
  color: var(--color-light-blue);
}

.color-white {
  color: #fff;
}

.color-dark-white {
  color: rgba(255, 255, 255, 0.65);
}

.color-yellow {
  color: #fad236;
}

.color-grey {
  color: #999;
}

.color-blue {
  background: #609fff;
}

.color-grey2 {
  color: #b4b3b3;
}

.color-greydark,
.bg-greydark {
  background-color: #4f4e4e;
}

.color-light-white {
  color: #959595;
}

#svg-footer {
  fill: white;
}
// bgs
.bg-light-grey {
  background-color: #f4f6f8;
}

.bg-cream {
  background-color: #fff1e0;
}

.bg-cream-2 {
  background: #fff4e6;
}

.bg-black {
  background-color: #404040;
}

.bg-blue {
  background-color: var(--color-light-blue);
}

.bg-light-blue {
  background: #ecf3ff;
}

.bg-light-blue-2 {
  background-color: #e1f6ff;
}

.bg-light-pink {
  background: #fff4fd;
}

.bg-darkpink {
  background: #ff7a7a;
}

.bg-dark-blue,
.bg-primary {
  background-color: #2b377a;
}

.bg-yellow {
  background: #ffad4e;
}

.bg-grey {
  background: #f5f5f5;
}

.bg-grey-2 {
  background-color: grey;
}

.bg-white {
  background: white;
}

.bg-pink {
  background-color: rgb(247, 229, 233);
}

.hover-color {
  &:hover {
    color: #fad236;
    text-decoration: none;
  }
}

// Shadow
.shadow-blue {
  box-shadow: 10px -10px 1px rgba(#e8f0fd, 1);
}

// border
.border-blue {
  border: 2px solid #e8f0fd;
  z-index: 10;
}

.border-color-blue {
  border-color: #e8f0fd;
  border-width: 2px;
  border-bottom: 0;
  @media only screen and (max-width: 450px) {
    border-right: 0;
    border-bottom: 2px solid #e8f0fd;
  }
}

.border-grey {
  border-color: #dbdbdb;
}

.border-white {
  border-color: white;
}

.border-left-yellow {
  border-left: 7px solid rgb(255, 191, 96);
  position: absolute;
  width: 6px;
  height: 40px;
  left: -1px;
  top: 18px;
  z-index: 10000;
}

.dashed {
  border-style: dashed;
  border-width: 1px;
  border-color: #b4b3b3;
  border-radius: 5px;
}

// misc
.a-reset {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:before,
  &:after {
    color: inherit;
  }
}

.line_layover:after {
  content: '';
  display: block;
  border-bottom: 1px solid grey;
  border-style: dashed;
  border-top: none;
  border-left: none;
  border-right: none;
}

.flatic::before {
  font-size: 2rem;
  width: 200px;
}

.no-underline {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

// hover
.hover-black {
  &:hover {
    color: black;
  }
}

.fig-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  height: 250px;
  background-color: #201826;
  background-image: url('https://staging.startuptn.in/media/images/thumb_9efatd3mnrfwl5e_adaptiveResize_1600_518.png');
}

.gradient {
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.9)),
    color-stop(53.27%, transparent)
  );
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), transparent 53.27%);
  padding: 8px 16px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

// border-rad

.border-rad-0 {
  border-radius: 0;
}
